<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body class="signup-body">
<div class="signup-box">
    <h1>Signup</h1>
    <form action="/signup" method="POST">

        <label>Username</label><br>
        <input type="text" name="username" placeholder="enter your username " required><br>

        <label>Password</label><br>
        <input type="password" name="password" placeholder="*********" required><br>

        <button class="btn" type="submit">Signup</button>
    </form>
</div>
</body>
</html>