*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    padding: 100px;
    color: red;
    font-weight: 700;
    text-align: center;
}
.form-contact{
    padding: 20px;
}

.form-contact div {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    align-items: center;
    margin: 20px;
}
.form-contact div label {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}
input {
    border: 2px solid red;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */

}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
.btn-form {
    border: 2px solid black;
    border-radius: 4px;
    width: 200px;
    padding: 5px;
    background-color: cornflowerblue;
    font-size: 20px;
    color: black;
    margin: 20px 0;
}

.fieldset {
    margin: 20px;

}
.fieldset-title {
    font-size: 24px;
    font-weight: 700;
    color: cornflowerblue;
    padding: 0 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}
.container .card {
    width: 250px;
    height: 350px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    margin: 15px;
    padding: 25px;
    align-items: center;

}
.container .card img {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.container .card .content{
    text-align: center;

}
.container .card .content .title {
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.song-card {
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    margin: 15px;
    padding: 25px;
    align-items: center;
}
.song-card .content {
    align-items: center;
    text-align: center;
}
