<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get Album</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <form action="/addalbum" method="post" class="form-contact">
        <fieldset class="fieldset">
            <legend class="fieldset-title">Enter Your Album : </legend>

            <div class=""input_form>
                <label>Album Title : </label><br>
                <input type="text" name="title" required><br>
            </div>
            <div>
                <label>Artist Name : </label><br>
                <input type="text" name="artist" required><br>
            </div>
            <div>
                <label>Song Count : </label><br>
                <input type="number" name="songCount" required><br>
            </div>
            <div>
                <label>Image URL : </label><br>
                <input type="text" name="imageUrl" required><br>
            </div>
            <div>
                <button type="submit" class="btn-form">Submit</button>
            </div>
        </fieldset>
    </form>
    <hr>
    <h1>Albums Information</h1>
    <div class="container">
            <ul class="card" th:each="album: ${albumList}">
                <img th:src="${album.imageUrl}" alter="The photo not found">
                <div class="content">
                    <p > <span class="title" th:text="${album.title}"></span></p>
                    <p>Artist Name : <span th:text="${album.artist}"></span></p>
                    <p>Song Count : <span th:text="${album.songCount}"></span></p>
                    <p>ID : <span th:text="${album.id}"></span></p>
                </div>
                <div class="btn-group">
                    <a th:href="@{'/song/' + ${album.id}}"> <button type="button" class="Addsong" >Add</button></a>
                    <a th:href="@{'/albumdetails/'+${album.id}}"><button type="button">Show</button></a>

                </div>
            </ul>
    </div>

    <script th:src="@{/main.js}"></script>


</body>
</html>